In [63]:
#imports
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.figure_factory as ff

In [2]:
#########################
#Preliminary Exploration#
#########################

In [3]:
#prepare paths to import data
msa_csv = "../data/msa_data.csv"
national_csv = "../data/national_data.csv"
skill_csv = "../data/skill_data.csv"
posting_csv = "../data/job_postings.csv"

In [4]:
#read msa_data as df and check
msa_df = pd.read_csv(msa_csv, sep=",")
msa_df.head()

,MSA_ID,Metro Area,OCC_CODE,Job Group,Total Employment,Jobs per 1000,Location Quotient,Mean Annual Wage,Annual Wage 10th Pct,Annual Wage 25th Pct,Median Annual Wage,Annual Wage 75th Pct,Annual Wage 90th Pct
0,10180,"Abilene, TX",11-1021,General and Operations Managers,1100.0,16.499,1.01,84000.0,22810.0,50350.0,73850.0,106870.0,154520.0
1,10180,"Abilene, TX",11-2022,Sales Managers,110.0,1.728,0.63,124710.0,47360.0,72140.0,119920.0,155050.0,207570.0
2,10180,"Abilene, TX",11-2030,Public Relations and Fundraising Managers,40.0,0.571,1.06,NaN,NaN,NaN,NaN,NaN,NaN
3,10180,"Abilene, TX",11-3010,Administrative Services and Facilities Managers,150.0,2.197,1.05,84350.0,52360.0,58760.0,71810.0,91380.0,120490.0
4,10180,"Abilene, TX",11-3021,Computer and Information Systems Managers,50.0,0.819,0.28,116390.0,56260.0,74910.0,104350.0,144370.0,194760.0

In [5]:
#Break off separate 
msa_Only_DF = msa_df[['MSA_ID', 'Metro Area']]
msa_Only_DF.head()

   MSA_ID   Metro Area
0   10180  Abilene, TX
1   10180  Abilene, TX
2   10180  Abilene, TX
3   10180  Abilene, TX
4   10180  Abilene, TX

In [6]:
# #Make a separate DF to preserve  Metro Area Text
msa_Only_DF = msa_Only_DF.drop_duplicates(ignore_index = True)
msa_Only_DF.head()

   MSA_ID             Metro Area
0   10180            Abilene, TX
1   10380  Aguadilla-Isabela, PR
2   10420              Akron, OH
3   10500             Albany, GA
4   10540             Albany, OR

In [7]:
msa_Only_DF = msa_Only_DF.reset_index(drop = True)
msa_Only_DF.head()

   MSA_ID             Metro Area
0   10180            Abilene, TX
1   10380  Aguadilla-Isabela, PR
2   10420              Akron, OH
3   10500             Albany, GA
4   10540             Albany, OR

In [8]:
#check msa_df datatypes
msa_df.dtypes

MSA_ID                    int64
Metro Area               object
OCC_CODE                 object
Job Group                object
Total Employment        float64
Jobs per 1000           float64
Location Quotient       float64
Mean Annual Wage        float64
Annual Wage 10th Pct    float64
Annual Wage 25th Pct    float64
Median Annual Wage      float64
Annual Wage 75th Pct    float64
Annual Wage 90th Pct    float64
dtype: object

In [9]:
#check NaNs
msa_df.isnull().sum().sort_values(ascending = False)

Location Quotient       11651
Jobs per 1000           11651
Total Employment        11651
Annual Wage 90th Pct     6458
Annual Wage 75th Pct     4361
Median Annual Wage       3508
Annual Wage 25th Pct     2918
Annual Wage 10th Pct     2692
Mean Annual Wage         2688
Job Group                   0
OCC_CODE                    0
Metro Area                  0
MSA_ID                      0
dtype: int64

In [10]:
#calculate percentage of NaN
msa_length = msa_df["OCC_CODE"].count()
msa_NaN = msa_df["Total Employment"].isnull().sum()
print(f"NaN values are {msa_NaN/msa_length*100}")

NaN values are 8.735913143234185

In [11]:
#read national_data as df and check
national_df = pd.read_csv(national_csv, sep=",")
national_df.head()

,BLS Job Title,LONG_OCC_CODE,Percentage with AA Degree or Less,Percentage with BA Degree or More,Total Employment (National),Mean Annual Wage (National),Annual Wage 10th Pct (National),Annual Wage 25th Pct (National),Median Annual Wage (National),Annual Wage 75th Pct (National),Annual Wage 90th Pct (National),Typical education needed for entry,Work experience in a related occupation,Non-Entry Level,BA Entry Level,Middle Skilled,Low Wage
0,Computer Operator,43-9011.00,64.9,35.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High school diploma or equivalent,None,False,False,True,False
1,Business Intelligence Analyst,15-1199.93,43.8,56.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,None,False,True,False,False
2,IT Project Manager,15-1199.95,43.8,56.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,None,False,True,False,False
3,Network Engineer / Architect,15-1199.02,43.8,56.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,None,False,True,False,False
4,Network Engineer / Architect,15-1133.00,14.7,85.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,None,False,True,False,False

In [12]:
#check national_df datatypes
national_df.dtypes

BLS Job Title                               object
LONG_OCC_CODE                               object
Percentage with AA Degree or Less          float64
Percentage with BA Degree or More          float64
Total Employment (National)                float64
Mean Annual Wage (National)                float64
Annual Wage 10th Pct (National)            float64
Annual Wage 25th Pct (National)            float64
Median Annual Wage (National)              float64
Annual Wage 75th Pct (National)            float64
Annual Wage 90th Pct (National)            float64
Typical education needed for entry          object
Work experience in a related occupation     object
Non-Entry Level                               bool
BA Entry Level                                bool
Middle Skilled                                bool
Low Wage                                      bool
dtype: object

In [13]:
#check NaNs
national_df.isnull().sum().sort_values(ascending = False)

Annual Wage 90th Pct (National)            232
Annual Wage 75th Pct (National)            166
Median Annual Wage (National)              165
Annual Wage 25th Pct (National)            165
Annual Wage 10th Pct (National)            165
Mean Annual Wage (National)                165
Total Employment (National)                164
Percentage with AA Degree or Less            6
Work experience in a related occupation      6
Typical education needed for entry           6
Percentage with BA Degree or More            6
LONG_OCC_CODE                                0
Low Wage                                     0
Middle Skilled                               0
Non-Entry Level                              0
BA Entry Level                               0
BLS Job Title                                0
dtype: int64

In [14]:
#calculate percentage of NaN
national_length = national_df["LONG_OCC_CODE"].count()
national_NaN = national_df["Annual Wage 90th Pct (National)"].isnull().sum()
print(f"NaN values are {national_NaN/national_length*100}")

NaN values are 40.98939929328622

In [15]:
#read skill_data as df and check
skill_df = pd.read_csv(skill_csv, sep=",")
skill_df.head(20)

,LONG_OCC_CODE,BLS Job Title,Artistic_oi,Conventional_oi,Enterprising_oi,Investigative_oi,Realistic_oi,Social_oi,Arm-Hand Steadiness_im,Auditory Attention_im,...,Persistence_im,Self Control_im,Social Orientation_im,Stress Tolerance_im,Achievement_ex,Independence_ex,Recognition_ex,Relationships_ex,Support_ex,Working Conditions_ex
0,11-1011.00,Chief Executives,2.67,5.33,7.00,2.00,1.33,3.67,1.00,2.12,...,4.43,4.52,3.67,4.75,6.33,7.00,7.00,5.00,5.33,6.33
1,11-1011.03,Chief Sustainability Officers,2.67,4.33,7.00,4.33,1.00,2.33,1.00,1.88,...,4.31,4.00,3.35,4.08,6.67,6.67,6.00,5.00,3.33,6.33
2,11-1021.00,General and Operations Managers,1.00,3.67,7.00,1.33,1.33,3.33,2.00,2.12,...,4.04,4.31,3.57,4.33,5.33,6.00,5.67,6.33,4.67,6.00
3,11-1031.00,Legislators,3.67,3.00,7.00,3.67,1.00,4.67,NaN,NaN,...,NaN,NaN,NaN,NaN,5.33,5.00,5.00,5.67,4.00,4.33
4,11-2011.00,Advertising and Promotions Managers,5.33,4.67,7.00,2.00,1.67,2.33,1.38,1.75,...,4.32,4.18,3.70,4.35,5.33,5.33,5.33,5.00,4.00,5.33
5,11-2011.01,Green Marketers,4.33,3.00,5.33,5.33,1.00,2.33,NaN,NaN,...,NaN,NaN,NaN,NaN,5.33,5.33,5.00,5.00,4.00,4.83
6,11-2021.00,Marketing Managers,3.67,5.33,7.00,2.33,1.00,2.67,1.12,1.88,...,4.23,3.87,3.80,4.01,6.00,5.67,5.33,5.67,5.00,6.17
7,11-2022.00,Sales Managers,2.00,4.67,7.00,2.00,3.00,3.67,1.38,2.00,...,4.48,4.30,3.83,4.52,5.33,5.67,4.67,4.00,5.33,5.50
8,11-2031.00,Public Relations and Fundraising Managers,5.00,3.67,7.00,1.33,1.33,3.67,1.00,1.75,...,4.53,3.94,4.15,4.17,5.33,6.00,5.00,6.00,4.67,6.17
9,11-3011.00,Administrative Services Managers,1.00,5.33,7.00,2.33,2.00,2.67,2.12,2.25,...,3.98,4.53,3.65,4.44,4.67,5.67,4.67,6.33,4.00,4.67
10,11-3021.00,Computer and Information Systems Managers,1.67,5.33,6.67,4.33,4.00,1.67,2.25,2.00,...,4.03,4.10,3.69,4.16,5.33,5.00,5.33,4.33,5.67,6.50
11,11-3031.01,Treasurers and Controllers,1.00,7.00,6.00,2.67,1.67,2.67,1.00,1.75,...,4.23,4.00,3.23,4.20,5.67,5.67,5.00,4.00,5.33,5.83
12,11-3031.02,"Financial Managers, Branch or Department",1.33,5.00,7.00,1.67,1.67,3.33,1.25,2.12,...,4.42,4.18,3.62,4.23,5.33,6.00,5.67,5.00,5.00,6.00
13,11-3051.00,Industrial Production Managers,1.33,6.00,7.00,2.33,2.67,3.33,2.00,2.75,...,4.20,4.34,4.04,4.54,5.00,6.00,5.00,5.33,5.00,5.67
14,11-3051.01,Quality Control Systems Managers,1.33,5.67,7.00,3.33,4.33,2.00,2.88,2.50,...,4.08,4.08,3.44,4.58,5.00,5.00,4.67,4.00,5.33,4.50
15,11-3051.02,Geothermal Production Managers,2.00,5.67,7.00,3.33,3.67,1.67,2.38,2.50,...,3.95,4.15,3.81,4.38,6.00,5.67,6.00,4.67,4.00,6.00
16,11-3051.03,Biofuels Production Managers,1.33,5.67,7.00,3.33,4.00,2.00,2.75,2.75,...,4.00,4.06,3.28,4.09,5.67,5.33,5.67,4.33,4.33,6.00
17,11-3051.04,Biomass Power Plant Managers,1.33,5.67,7.00,3.00,5.00,2.00,2.62,2.62,...,4.60,3.92,3.56,4.40,5.67,5.33,5.67,4.33,4.00,6.00
18,11-3051.05,Methane/Landfill Gas Collection System Operators,1.67,6.67,5.33,3.00,4.67,1.33,NaN,NaN,...,NaN,NaN,NaN,NaN,4.67,3.67,3.67,3.00,4.67,4.50
19,11-3051.06,Hydroelectric Production Managers,1.33,5.67,7.00,3.00,3.67,1.33,2.50,2.88,...,3.89,4.02,3.12,4.12,6.00,5.67,5.67,4.67,4.00,6.00

In [16]:
#check skill_df datatypes
skill_df.dtypes

LONG_OCC_CODE             object
BLS Job Title             object
Artistic_oi              float64
Conventional_oi          float64
Enterprising_oi          float64
                          ...
Independence_ex          float64
Recognition_ex           float64
Relationships_ex         float64
Support_ex               float64
Working Conditions_ex    float64
Length: 352, dtype: object

In [17]:
#check NaNs
skill_df.isnull().sum().sort_values(ascending = False)

Attention to Detail_im         7
Integrity_im                   7
Achievement/Effort_im          7
Adaptability/Flexibility_im    7
Analytical Thinking_im         7
                              ..
Achievement_ex                 0
Independence_ex                0
Recognition_ex                 0
Relationships_ex               0
LONG_OCC_CODE                  0
Length: 352, dtype: int64

In [18]:
#calculate percentage of NaN
skill_length = skill_df["LONG_OCC_CODE"].count()
skill_NaN = skill_df["Concern for Others_im"].isnull().sum()
print(f"NaN values are {skill_NaN/skill_length*100}")

NaN values are 0.7186858316221766

In [19]:
#read job_posting as df and check
posting_df = pd.read_csv(posting_csv, sep=",")
posting_df.head()

,JOB_ID,BLS Job Title,LONG_OCC_CODE,YEAR,STATE,CITY,MSA_ID,CANON_MAXIMUM_DEGREE,CANON_MINIMUM_DEGREE,CANON_OTHER_DEGREES,...,CIP_CODE,STANDARD_MAJOR,MAX_EXPERIENCE,MIN_EXPERIENCE,MAX_ANNUAL_SALARY,MAX_HOURLY_SALARY,MIN_ANNUAL_SALARY,MIN_HOURLY_SALARY,YEARS_OF_EXPERIENCE,CANON_JOB_HOURS
0,38472841335,Recruiter (General),13-1071.91,2019,WA,Seattle,42660.0,Bachelor's,Higher Secondary Certificate,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2+ years|2 years,fulltime
1,38474073426,Estimator,13-1051.00,2019,AZ,Chandler,38060.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,38474083740,Auto Body Technician,49-3021.00,2019,AZ,Chandler,38060.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,38709992297,General Manager,11-1021.92,2020,FL,Tampa,45300.0,Bachelor's,Higher Secondary Certificate,NaN,...,NaN,NaN,5.0,3.0,NaN,NaN,NaN,NaN,3-5 years,NaN
4,38709918452,Maintenance Helper / Assistant,49-9098.00,2020,TX,San Antonio,41700.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#check posting_df datatypes
posting_df.dtypes

JOB_ID                       int64
BLS Job Title               object
LONG_OCC_CODE               object
YEAR                         int64
STATE                       object
CITY                        object
MSA_ID                     float64
CANON_MAXIMUM_DEGREE        object
CANON_MINIMUM_DEGREE        object
CANON_OTHER_DEGREES        float64
CANON_PREFERRED_DEGREES     object
CANON_REQUIRED_DEGREES      object
CIP_CODE                    object
STANDARD_MAJOR              object
MAX_EXPERIENCE             float64
MIN_EXPERIENCE             float64
MAX_ANNUAL_SALARY          float64
MAX_HOURLY_SALARY          float64
MIN_ANNUAL_SALARY          float64
MIN_HOURLY_SALARY          float64
YEARS_OF_EXPERIENCE         object
CANON_JOB_HOURS             object
dtype: object

In [21]:
#check NaNs
posting_df.isnull().sum().sort_values(ascending = False)

CANON_OTHER_DEGREES        5079
STANDARD_MAJOR             5042
CIP_CODE                   5042
MAX_EXPERIENCE             4926
CANON_PREFERRED_DEGREES    4905
CANON_MAXIMUM_DEGREE       4895
MIN_EXPERIENCE             4662
CANON_REQUIRED_DEGREES     4600
CANON_MINIMUM_DEGREE       4565
YEARS_OF_EXPERIENCE        4146
CANON_JOB_HOURS            4057
MAX_ANNUAL_SALARY          3163
MAX_HOURLY_SALARY          3163
MIN_ANNUAL_SALARY          3163
MIN_HOURLY_SALARY          3163
MSA_ID                       24
CITY                         23
STATE                         0
YEAR                          0
LONG_OCC_CODE                 0
BLS Job Title                 0
JOB_ID                        0
dtype: int64

In [22]:
#calculate percentage of NaN
posting_length = posting_df["LONG_OCC_CODE"].count()
posting_NaN = posting_df["CANON_OTHER_DEGREES"].isnull().sum()
print(f"NaN values are {posting_NaN/posting_length*100}")

NaN values are 100.0

In [23]:
#verify that 5079 is 100% the size of the DF
print(f"Length: {posting_length}. NaN Count: {posting_NaN}.")

Length: 5079. NaN Count: 5079.

In [24]:
print(national_df['Non-Entry Level'].count())
print(skill_df['Artistic_oi'].count())
print(posting_df['YEAR'].count())
print(msa_df['Total Employment'].count())

566
974
5079
121718

In [25]:
######################
#Clean individual DFs#
######################

In [26]:
#Drop NaNs from msa_df, and print difference from old df
msa_df = msa_df.dropna()
print(msa_length-msa_df["OCC_CODE"].count())

17634

In [27]:
#compare greatest NaN row to rows dropped
print(msa_NaN)

11651

In [28]:
#Print new msa_df
msa_df.head()

,MSA_ID,Metro Area,OCC_CODE,Job Group,Total Employment,Jobs per 1000,Location Quotient,Mean Annual Wage,Annual Wage 10th Pct,Annual Wage 25th Pct,Median Annual Wage,Annual Wage 75th Pct,Annual Wage 90th Pct
0,10180,"Abilene, TX",11-1021,General and Operations Managers,1100.0,16.499,1.01,84000.0,22810.0,50350.0,73850.0,106870.0,154520.0
1,10180,"Abilene, TX",11-2022,Sales Managers,110.0,1.728,0.63,124710.0,47360.0,72140.0,119920.0,155050.0,207570.0
3,10180,"Abilene, TX",11-3010,Administrative Services and Facilities Managers,150.0,2.197,1.05,84350.0,52360.0,58760.0,71810.0,91380.0,120490.0
4,10180,"Abilene, TX",11-3021,Computer and Information Systems Managers,50.0,0.819,0.28,116390.0,56260.0,74910.0,104350.0,144370.0,194760.0
6,10180,"Abilene, TX",11-3051,Industrial Production Managers,40.0,0.603,0.48,98640.0,57580.0,68030.0,88490.0,111530.0,130800.0

In [29]:
#wage data does not seem to be of importance, and has a high amount of NaN values. Dropped columns
national_df = national_df.drop(columns=['Annual Wage 90th Pct (National)', 'Annual Wage 75th Pct (National)', 'Annual Wage 25th Pct (National)', 'Annual Wage 10th Pct (National)', 'Median Annual Wage (National)', 'Mean Annual Wage (National)', 'Total Employment (National)'])
national_df.head()

,BLS Job Title,LONG_OCC_CODE,Percentage with AA Degree or Less,Percentage with BA Degree or More,Typical education needed for entry,Work experience in a related occupation,Non-Entry Level,BA Entry Level,Middle Skilled,Low Wage
0,Computer Operator,43-9011.00,64.9,35.1,High school diploma or equivalent,None,False,False,True,False
1,Business Intelligence Analyst,15-1199.93,43.8,56.4,Bachelor's degree,None,False,True,False,False
2,IT Project Manager,15-1199.95,43.8,56.4,Bachelor's degree,None,False,True,False,False
3,Network Engineer / Architect,15-1199.02,43.8,56.4,Bachelor's degree,None,False,True,False,False
4,Network Engineer / Architect,15-1133.00,14.7,85.2,Bachelor's degree,None,False,True,False,False

In [30]:
#The earlier exploration showed a few columns with about 6 NaN values. Dropped, and checked lengths of old and new dfs
national_df = national_df.dropna()
print(national_df["LONG_OCC_CODE"].count())
print(national_length)

560
566

In [31]:
#skill df had minimum NaNs. Dropped NaNs, and verified minimal data loss
skill_df = skill_df.dropna()
print(skill_df["LONG_OCC_CODE"].count())
print(skill_length)

967
974

In [32]:
#Earlier exploration showed it is best to remove certain rows from posting_df
posting_df = posting_df.filter(['MSA_ID', 'CITY', 'STATE', 'YEAR', 'LONG_OCC_CODE', 'BLS Job Title', 'JOB_ID'])
posting_df.head()

,MSA_ID,CITY,STATE,YEAR,LONG_OCC_CODE,BLS Job Title,JOB_ID
0,42660.0,Seattle,WA,2019,13-1071.91,Recruiter (General),38472841335
1,38060.0,Chandler,AZ,2019,13-1051.00,Estimator,38474073426
2,38060.0,Chandler,AZ,2019,49-3021.00,Auto Body Technician,38474083740
3,45300.0,Tampa,FL,2020,11-1021.92,General Manager,38709992297
4,41700.0,San Antonio,TX,2020,49-9098.00,Maintenance Helper / Assistant,38709918452

In [33]:
#######################
#Prepare DFs for Merge#
#######################

In [34]:
#creat OCC_CODE column that drops last 3 chars from LONG_OCC_CODE
national_df['OCC_CODE'] = national_df['LONG_OCC_CODE'].str.slice(stop=7)
national_df.head()

,BLS Job Title,LONG_OCC_CODE,Percentage with AA Degree or Less,Percentage with BA Degree or More,Typical education needed for entry,Work experience in a related occupation,Non-Entry Level,BA Entry Level,Middle Skilled,Low Wage,OCC_CODE
0,Computer Operator,43-9011.00,64.9,35.1,High school diploma or equivalent,None,False,False,True,False,43-9011
1,Business Intelligence Analyst,15-1199.93,43.8,56.4,Bachelor's degree,None,False,True,False,False,15-1199
2,IT Project Manager,15-1199.95,43.8,56.4,Bachelor's degree,None,False,True,False,False,15-1199
3,Network Engineer / Architect,15-1199.02,43.8,56.4,Bachelor's degree,None,False,True,False,False,15-1199
4,Network Engineer / Architect,15-1133.00,14.7,85.2,Bachelor's degree,None,False,True,False,False,15-1133

In [35]:
#creat OCC_CODE column that drops last 3 chars from LONG_OCC_CODE
skill_df['OCC_CODE'] = skill_df['LONG_OCC_CODE'].str.slice(stop=7)
skill_df.head()

,LONG_OCC_CODE,BLS Job Title,Artistic_oi,Conventional_oi,Enterprising_oi,Investigative_oi,Realistic_oi,Social_oi,Arm-Hand Steadiness_im,Auditory Attention_im,...,Self Control_im,Social Orientation_im,Stress Tolerance_im,Achievement_ex,Independence_ex,Recognition_ex,Relationships_ex,Support_ex,Working Conditions_ex,OCC_CODE
0,11-1011.00,Chief Executives,2.67,5.33,7.0,2.00,1.33,3.67,1.00,2.12,...,4.52,3.67,4.75,6.33,7.00,7.00,5.00,5.33,6.33,11-1011
1,11-1011.03,Chief Sustainability Officers,2.67,4.33,7.0,4.33,1.00,2.33,1.00,1.88,...,4.00,3.35,4.08,6.67,6.67,6.00,5.00,3.33,6.33,11-1011
2,11-1021.00,General and Operations Managers,1.00,3.67,7.0,1.33,1.33,3.33,2.00,2.12,...,4.31,3.57,4.33,5.33,6.00,5.67,6.33,4.67,6.00,11-1021
4,11-2011.00,Advertising and Promotions Managers,5.33,4.67,7.0,2.00,1.67,2.33,1.38,1.75,...,4.18,3.70,4.35,5.33,5.33,5.33,5.00,4.00,5.33,11-2011
6,11-2021.00,Marketing Managers,3.67,5.33,7.0,2.33,1.00,2.67,1.12,1.88,...,3.87,3.80,4.01,6.00,5.67,5.33,5.67,5.00,6.17,11-2021

In [36]:
#creat OCC_CODE column that drops last 3 chars from LONG_OCC_CODE
posting_df['OCC_CODE'] = posting_df['LONG_OCC_CODE'].str.slice(stop=7)
posting_df.head()

,MSA_ID,CITY,STATE,YEAR,LONG_OCC_CODE,BLS Job Title,JOB_ID,OCC_CODE
0,42660.0,Seattle,WA,2019,13-1071.91,Recruiter (General),38472841335,13-1071
1,38060.0,Chandler,AZ,2019,13-1051.00,Estimator,38474073426,13-1051
2,38060.0,Chandler,AZ,2019,49-3021.00,Auto Body Technician,38474083740,49-3021
3,45300.0,Tampa,FL,2020,11-1021.92,General Manager,38709992297,11-1021
4,41700.0,San Antonio,TX,2020,49-9098.00,Maintenance Helper / Assistant,38709918452,49-9098

In [37]:
msa_CiSt_DF = posting_df[['MSA_ID', 'CITY', 'STATE']]
msa_CiSt_DF.head()

    MSA_ID         CITY STATE
0  42660.0      Seattle    WA
1  38060.0     Chandler    AZ
2  38060.0     Chandler    AZ
3  45300.0        Tampa    FL
4  41700.0  San Antonio    TX

In [38]:
msa_CiSt_DF = msa_CiSt_DF.drop_duplicates(ignore_index = True)
msa_CiSt_DF.head()

    MSA_ID         CITY STATE
0  42660.0      Seattle    WA
1  38060.0     Chandler    AZ
2  45300.0        Tampa    FL
3  41700.0  San Antonio    TX
4  41860.0       Dublin    CA

In [39]:
msa_CiSt_DF = msa_CiSt_DF.astype('object')
msa_CiSt_DF.head()

  MSA_ID         CITY STATE
0  42660      Seattle    WA
1  38060     Chandler    AZ
2  45300        Tampa    FL
3  41700  San Antonio    TX
4  41860       Dublin    CA

In [40]:
#Check remaining datatypes before merge
msa_df.dtypes

MSA_ID                    int64
Metro Area               object
OCC_CODE                 object
Job Group                object
Total Employment        float64
Jobs per 1000           float64
Location Quotient       float64
Mean Annual Wage        float64
Annual Wage 10th Pct    float64
Annual Wage 25th Pct    float64
Median Annual Wage      float64
Annual Wage 75th Pct    float64
Annual Wage 90th Pct    float64
dtype: object

In [41]:
national_df.dtypes

BLS Job Title                               object
LONG_OCC_CODE                               object
Percentage with AA Degree or Less          float64
Percentage with BA Degree or More          float64
Typical education needed for entry          object
Work experience in a related occupation     object
Non-Entry Level                               bool
BA Entry Level                                bool
Middle Skilled                                bool
Low Wage                                      bool
OCC_CODE                                    object
dtype: object

In [42]:
skill_df.dtypes

LONG_OCC_CODE             object
BLS Job Title             object
Artistic_oi              float64
Conventional_oi          float64
Enterprising_oi          float64
                          ...
Recognition_ex           float64
Relationships_ex         float64
Support_ex               float64
Working Conditions_ex    float64
OCC_CODE                  object
Length: 353, dtype: object

In [43]:
posting_df.dtypes

MSA_ID           float64
CITY              object
STATE             object
YEAR               int64
LONG_OCC_CODE     object
BLS Job Title     object
JOB_ID             int64
OCC_CODE          object
dtype: object

In [44]:
#Perform Groubys on national_df
national_df_OCC = national_df.groupby(['OCC_CODE']).mean()
national_df.head()

,BLS Job Title,LONG_OCC_CODE,Percentage with AA Degree or Less,Percentage with BA Degree or More,Typical education needed for entry,Work experience in a related occupation,Non-Entry Level,BA Entry Level,Middle Skilled,Low Wage,OCC_CODE
0,Computer Operator,43-9011.00,64.9,35.1,High school diploma or equivalent,None,False,False,True,False,43-9011
1,Business Intelligence Analyst,15-1199.93,43.8,56.4,Bachelor's degree,None,False,True,False,False,15-1199
2,IT Project Manager,15-1199.95,43.8,56.4,Bachelor's degree,None,False,True,False,False,15-1199
3,Network Engineer / Architect,15-1199.02,43.8,56.4,Bachelor's degree,None,False,True,False,False,15-1199
4,Network Engineer / Architect,15-1133.00,14.7,85.2,Bachelor's degree,None,False,True,False,False,15-1133

In [45]:
national_df_LONG = national_df.groupby(['LONG_OCC_CODE']).mean()
national_df_LONG.head()

,Percentage with AA Degree or Less,Percentage with BA Degree or More,Non-Entry Level,BA Entry Level,Middle Skilled,Low Wage
LONG_OCC_CODE,,,,,,
11-1011.00,30.2,69.9,1.0,0.0,0.0,0.0
11-1021.91,54.1,45.9,1.0,0.0,0.0,0.0
11-1021.92,54.1,45.9,1.0,0.0,0.0,0.0
11-2021.91,30.3,69.8,1.0,0.0,0.0,0.0
11-2021.92,30.3,69.8,1.0,0.0,0.0,0.0

In [46]:
#Perform Groubys on skill_df
skill_df_OCC = skill_df.groupby(['OCC_CODE']).mean()
skill_df.head()

,LONG_OCC_CODE,BLS Job Title,Artistic_oi,Conventional_oi,Enterprising_oi,Investigative_oi,Realistic_oi,Social_oi,Arm-Hand Steadiness_im,Auditory Attention_im,...,Self Control_im,Social Orientation_im,Stress Tolerance_im,Achievement_ex,Independence_ex,Recognition_ex,Relationships_ex,Support_ex,Working Conditions_ex,OCC_CODE
0,11-1011.00,Chief Executives,2.67,5.33,7.0,2.00,1.33,3.67,1.00,2.12,...,4.52,3.67,4.75,6.33,7.00,7.00,5.00,5.33,6.33,11-1011
1,11-1011.03,Chief Sustainability Officers,2.67,4.33,7.0,4.33,1.00,2.33,1.00,1.88,...,4.00,3.35,4.08,6.67,6.67,6.00,5.00,3.33,6.33,11-1011
2,11-1021.00,General and Operations Managers,1.00,3.67,7.0,1.33,1.33,3.33,2.00,2.12,...,4.31,3.57,4.33,5.33,6.00,5.67,6.33,4.67,6.00,11-1021
4,11-2011.00,Advertising and Promotions Managers,5.33,4.67,7.0,2.00,1.67,2.33,1.38,1.75,...,4.18,3.70,4.35,5.33,5.33,5.33,5.00,4.00,5.33,11-2011
6,11-2021.00,Marketing Managers,3.67,5.33,7.0,2.33,1.00,2.67,1.12,1.88,...,3.87,3.80,4.01,6.00,5.67,5.33,5.67,5.00,6.17,11-2021

In [47]:
skill_df_LONG = skill_df.groupby(['LONG_OCC_CODE']).mean()
skill_df.head()

,LONG_OCC_CODE,BLS Job Title,Artistic_oi,Conventional_oi,Enterprising_oi,Investigative_oi,Realistic_oi,Social_oi,Arm-Hand Steadiness_im,Auditory Attention_im,...,Self Control_im,Social Orientation_im,Stress Tolerance_im,Achievement_ex,Independence_ex,Recognition_ex,Relationships_ex,Support_ex,Working Conditions_ex,OCC_CODE
0,11-1011.00,Chief Executives,2.67,5.33,7.0,2.00,1.33,3.67,1.00,2.12,...,4.52,3.67,4.75,6.33,7.00,7.00,5.00,5.33,6.33,11-1011
1,11-1011.03,Chief Sustainability Officers,2.67,4.33,7.0,4.33,1.00,2.33,1.00,1.88,...,4.00,3.35,4.08,6.67,6.67,6.00,5.00,3.33,6.33,11-1011
2,11-1021.00,General and Operations Managers,1.00,3.67,7.0,1.33,1.33,3.33,2.00,2.12,...,4.31,3.57,4.33,5.33,6.00,5.67,6.33,4.67,6.00,11-1021
4,11-2011.00,Advertising and Promotions Managers,5.33,4.67,7.0,2.00,1.67,2.33,1.38,1.75,...,4.18,3.70,4.35,5.33,5.33,5.33,5.00,4.00,5.33,11-2011
6,11-2021.00,Marketing Managers,3.67,5.33,7.0,2.33,1.00,2.67,1.12,1.88,...,3.87,3.80,4.01,6.00,5.67,5.33,5.67,5.00,6.17,11-2021

In [48]:
#Perform Groubys on posting_df
posting_df_OCC = posting_df.groupby(['OCC_CODE']).mean()
posting_df_OCC.head()

                MSA_ID         YEAR        JOB_ID
OCC_CODE
11-1011   41860.000000  2020.000000  3.875803e+10
11-1021   28558.316498  2019.597315  3.869620e+10
11-2021   36280.000000  2019.500000  3.862572e+10
11-2022   18628.000000  2019.600000  3.870868e+10
11-3011   19100.000000  2019.500000  3.873672e+10

In [49]:
posting_df_LONG_OCC = posting_df.groupby(['LONG_OCC_CODE']).mean()
posting_df_LONG_OCC.head()

                     MSA_ID         YEAR        JOB_ID
LONG_OCC_CODE
11-1011.00     41860.000000  2020.000000  3.875803e+10
11-1021.91     29590.000000  2019.500000  3.876356e+10
11-1021.92     28544.232082  2019.598639  3.869529e+10
11-2021.91     41860.000000  2020.000000  3.875803e+10
11-2021.92     30700.000000  2019.000000  3.849341e+10

In [50]:
posting_df_MSA = posting_df.groupby(['MSA_ID']).count()
posting_df_MSA.head()

         CITY  STATE  YEAR  LONG_OCC_CODE  BLS Job Title  JOB_ID  OCC_CODE
MSA_ID
10420.0    15     15    15             15             15      15        15
10900.0    12     12    12             12             12      12        12
12060.0   126    126   126            126            126     126       126
12420.0    90     90    90             90             90      90        90
12580.0    20     20    20             20             20      20        20

In [51]:
#Perform Groubys on mas_df
msa_df_OCC = msa_df.groupby(['OCC_CODE']).mean()
msa_df_OCC.head()

,MSA_ID,Total Employment,Jobs per 1000,Location Quotient,Mean Annual Wage,Annual Wage 10th Pct,Annual Wage 25th Pct,Median Annual Wage,Annual Wage 75th Pct,Annual Wage 90th Pct
OCC_CODE,,,,,,,,,,
11-1011,29914.000000,92.666667,1.654000,1.181333,105342.666667,53819.333333,68726.666667,93689.333333,123424.666667,173630.000000
11-1021,31450.996169,2082.260536,14.993027,0.917471,96114.444444,39498.160920,56049.501916,80143.524904,118010.574713,172455.478927
11-1031,31091.719745,143.184713,0.574662,1.614522,44833.375796,25077.388535,28214.203822,36569.681529,52524.203822,77397.898089
11-2011,36955.952381,153.095238,0.149881,0.876667,103666.428571,53591.428571,71100.000000,94747.619048,125297.619048,164601.190476
11-2021,33202.287582,339.803922,1.028876,0.572876,113340.457516,62261.830065,78638.888889,103665.294118,137923.333333,178686.470588

In [52]:
msa_df_MSA = msa_df.groupby(['MSA_ID']).mean()
msa_df_MSA.head()

,Total Employment,Jobs per 1000,Location Quotient,Mean Annual Wage,Annual Wage 10th Pct,Annual Wage 25th Pct,Median Annual Wage,Annual Wage 75th Pct,Annual Wage 90th Pct
MSA_ID,,,,,,,,,
10180,256.517857,3.851402,1.314375,46104.776786,29557.455357,35431.428571,43662.142857,54407.678571,67049.017857
10380,257.872340,5.659014,1.862553,30245.390071,20116.170213,23464.468085,28356.808511,35213.404255,43742.269504
10420,746.925000,2.266470,1.190975,52309.375000,33143.050000,40158.475000,50064.025000,62337.450000,75381.650000
10500,255.611111,4.335828,1.305111,46614.722222,28690.277778,35762.333333,44932.277778,55331.833333,67193.888889
10540,177.570093,3.939005,2.234813,51859.719626,35119.158879,41025.654206,50036.775701,60816.962617,72574.532710

In [53]:
print(national_df_LONG['Non-Entry Level'].count())
print(national_df_OCC['Non-Entry Level'].count())
print(skill_df_LONG['Artistic_oi'].count())
print(skill_df_OCC['Artistic_oi'].count())
print(posting_df_OCC['MSA_ID'].count())
print(posting_df_MSA['YEAR'].count())
print(posting_df_LONG_OCC['YEAR'].count())
print(msa_df_OCC['Total Employment'].count())
print(msa_df_MSA['Total Employment'].count())

292
236
967
773
76
60
85
769
396

In [54]:
#########
#Analyze#
#########

In [55]:
#Create DF to analyze postings per area
posting_location_msa = posting_df_MSA.merge(msa_df_MSA, how='inner', left_index=True, right_index=True)
posting_location_msa.head()

,CITY,STATE,YEAR,LONG_OCC_CODE,BLS Job Title,JOB_ID,OCC_CODE,Total Employment,Jobs per 1000,Location Quotient,Mean Annual Wage,Annual Wage 10th Pct,Annual Wage 25th Pct,Median Annual Wage,Annual Wage 75th Pct,Annual Wage 90th Pct
MSA_ID,,,,,,,,,,,,,,,,
10420,15,15,15,15,15,15,15,746.925000,2.266470,1.190975,52309.375000,33143.050000,40158.475000,50064.025000,62337.450000,75381.650000
10900,12,12,12,12,12,12,12,790.160920,2.160506,1.034046,55231.195402,34564.735632,41953.379310,52518.597701,65800.022989,80668.275862
12060,126,126,126,126,126,126,126,4333.420139,1.579517,0.958003,53734.340278,32003.090278,40037.552083,50711.562500,64414.253472,80277.135417
12420,90,90,90,90,90,90,90,1990.000000,1.853884,1.133870,56116.109980,34547.393075,42184.704684,53026.517312,67040.957230,82413.136456
12580,20,20,20,20,20,20,20,2271.857143,1.651025,1.108429,59450.392857,36648.375000,44898.625000,56726.017857,71147.839286,86812.571429

In [56]:
#Drop unnecessary fields
posting_location_msa = posting_location_msa.drop(columns = ['CITY','STATE','YEAR','LONG_OCC_CODE','BLS Job Title','OCC_CODE'])
posting_location_msa.head()

,JOB_ID,Total Employment,Jobs per 1000,Location Quotient,Mean Annual Wage,Annual Wage 10th Pct,Annual Wage 25th Pct,Median Annual Wage,Annual Wage 75th Pct,Annual Wage 90th Pct
MSA_ID,,,,,,,,,,
10420,15,746.925000,2.266470,1.190975,52309.375000,33143.050000,40158.475000,50064.025000,62337.450000,75381.650000
10900,12,790.160920,2.160506,1.034046,55231.195402,34564.735632,41953.379310,52518.597701,65800.022989,80668.275862
12060,126,4333.420139,1.579517,0.958003,53734.340278,32003.090278,40037.552083,50711.562500,64414.253472,80277.135417
12420,90,1990.000000,1.853884,1.133870,56116.109980,34547.393075,42184.704684,53026.517312,67040.957230,82413.136456
12580,20,2271.857143,1.651025,1.108429,59450.392857,36648.375000,44898.625000,56726.017857,71147.839286,86812.571429

In [57]:
posting_location_ID = msa_Only_DF.merge(posting_location_msa, on='MSA_ID', how='inner', left_index=False, right_index=True)
posting_location_ID.head()

,MSA_ID,Metro Area,JOB_ID,Total Employment,Jobs per 1000,Location Quotient,Mean Annual Wage,Annual Wage 10th Pct,Annual Wage 25th Pct,Median Annual Wage,Annual Wage 75th Pct,Annual Wage 90th Pct
2,10420,"Akron, OH",15,746.925000,2.266470,1.190975,52309.375000,33143.050000,40158.475000,50064.025000,62337.450000,75381.650000
8,10900,"Allentown-Bethlehem-Easton, PA-NJ",12,790.160920,2.160506,1.034046,55231.195402,34564.735632,41953.379310,52518.597701,65800.022989,80668.275862
19,12060,"Atlanta-Sandy Springs-Roswell, GA",126,4333.420139,1.579517,0.958003,53734.340278,32003.090278,40037.552083,50711.562500,64414.253472,80277.135417
23,12420,"Austin-Round Rock, TX",90,1990.000000,1.853884,1.133870,56116.109980,34547.393075,42184.704684,53026.517312,67040.957230,82413.136456
25,12580,"Baltimore-Columbia-Towson, MD",20,2271.857143,1.651025,1.108429,59450.392857,36648.375000,44898.625000,56726.017857,71147.839286,86812.571429

In [58]:
print(posting_location_ID['MSA_ID'].count())
print(posting_location_msa['JOB_ID'].count())

56
56

In [59]:
#Rename JOB_ID to avoid confusion
posting_location_ID.rename(columns = {'JOB_ID':'JOB_ID_COUNT'}, inplace = True)

In [60]:
#Sort DF to show metropolitan areas with most postings
posting_location_ID = posting_location_ID.sort_values(by='JOB_ID_COUNT', ascending=False)
posting_location_ID.head(20)

,MSA_ID,Metro Area,JOB_ID_COUNT,Total Employment,Jobs per 1000,Location Quotient,Mean Annual Wage,Annual Wage 10th Pct,Annual Wage 25th Pct,Median Annual Wage,Annual Wage 75th Pct,Annual Wage 90th Pct
83,19100,"Dallas-Fort Worth-Arlington, TX",859,5655.355372,1.546536,0.933240,55385.256198,32617.867769,40740.000000,52344.016529,66698.198347,82481.652893
65,16980,"Chicago-Naperville-Elgin, IL-IN-WI",352,6833.097484,1.461184,0.936462,58475.974843,34407.720126,43015.251572,55355.974843,70766.273585,87493.647799
264,38060,"Phoenix-Mesa-Scottsdale, AZ",288,3539.982175,1.668891,0.970873,54371.069519,34451.426025,41261.229947,51379.340463,64291.693405,79163.244207
241,34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",264,1691.127542,1.692571,1.065989,52469.722736,32167.707948,39395.970425,49405.730129,62052.661738,77596.950092
300,41700,"San Antonio-New Braunfels, TX",238,1914.742063,1.846127,0.986825,52708.710317,33109.603175,40350.019841,50140.535714,62477.698413,76500.456349
156,26420,"Houston-The Woodlands-Sugar Land, TX",216,4959.157706,1.624769,1.038011,57008.172043,33327.598566,41901.308244,53844.982079,68089.157706,85417.222222
206,31080,"Los Angeles-Long Beach-Anaheim, CA",192,9190.929487,1.472990,1.084087,62729.935897,37806.971154,46370.833333,59114.807692,75478.573718,93465.544872
313,42660,"Seattle-Tacoma-Bellevue, WA",192,3144.650767,1.555964,1.043663,64766.729131,41576.405451,49998.841567,61912.879046,76813.543441,93298.449744
94,19820,"Detroit-Warren-Dearborn, MI",168,3314.564831,1.673329,1.006306,56516.927176,34567.850799,42415.630551,53932.486679,67747.388988,82513.641208
92,19740,"Denver-Aurora-Lakewood, CO",143,2509.712230,1.658365,1.075000,59584.046763,37357.194245,45427.158273,56729.424460,70936.564748,86688.992806
263,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",140,4273.301738,1.485603,0.986793,59163.175355,35404.676145,43867.582938,55822.385466,71281.090047,88967.472354
19,12060,"Atlanta-Sandy Springs-Roswell, GA",126,4333.420139,1.579517,0.958003,53734.340278,32003.090278,40037.552083,50711.562500,64414.253472,80277.135417
219,32820,"Memphis, TN-MS-AR",122,1195.676768,1.890137,1.016566,50938.101010,31165.010101,38188.707071,48169.757576,60690.424242,75443.111111
304,41940,"San Jose-Sunnyvale-Santa Clara, CA",121,2233.530752,1.957923,1.086720,67434.305239,40803.781321,50373.553531,64093.234624,81503.507973,100163.576310
266,38300,"Pittsburgh, PA",110,1971.332117,1.708763,1.084489,55235.401460,33781.240876,41704.251825,52500.218978,66093.211679,81104.981752
194,29820,"Las Vegas-Henderson-Paradise, NV",105,2001.469979,1.962352,1.463395,55678.178054,34498.840580,42026.708075,53003.271222,66255.817805,81849.440994
251,36420,"Oklahoma City, OK",92,1184.488189,1.887573,1.267362,51215.039370,31218.287402,38268.228346,48508.700787,61535.767717,75659.606299
302,41860,"San Francisco-Oakland-Hayward, CA",90,3806.660777,1.539786,1.032774,69926.095406,42164.151943,52465.159011,67226.678445,84987.632509,103138.674912
23,12420,"Austin-Round Rock, TX",90,1990.000000,1.853884,1.133870,56116.109980,34547.393075,42184.704684,53026.517312,67040.957230,82413.136456
357,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",85,4720.324149,1.484574,1.261378,64661.329011,38601.183144,48119.756888,61521.507293,77715.883306,95471.523501

In [70]:
fig = px.histogram(posting_location_ID, x="MSA_ID", y="JOB_ID_COUNT",
                   marginal="box", # or violin, rug
                   hover_data=posting_location_ID.columns)
fig.show()